@mixin border-radius($radius)
	-webkit-border-radius: $radius
	-moz-border-radius: $radius
	-ms-border-radius: $radius
	border-radius: $radius

@mixin transform($property)
	transform: $property
	-webkit-transform: $property
	-moz-transform: $property
	-o-transform: $property

@mixin transition($property...)
	transition: $property
	-webkit-transition: $property
	-moz-transition: $property
	-o-transition: $property

@mixin animation($property)
	-webkit-animation: $property
	-moz-animation: $property
	-o-animation: $property
	-ms-animation: $property
	animation: $property

@mixin opacity($opacity)
	opacity: $opacity
	$opacity-ie: $opacity * 100
	filter: alpha(opacity=$opacity-ie)

@mixin transition-delay($delay...)
	-moz-transition-delay:    $delay
	-o-transition-delay:      $delay
	-webkit-transition-delay: $delay
	transition-delay:         $delay
