<div class="container" data-ng-init="drawCanvas()">
		<div class="row">
			<div class="col-md-12">
				
				<canvas id="canvas" width="1140" height="400"></canvas>

			</div>
			<div class="col-md-12">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-6">
							<h1 class="title mt2">Количество полок: {{chelfCount}}</h1>
						</div>
						<div class="col-md-6">
							<button type="button"
								data-ng-hide="createBlock"
								data-ng-click="createBlock =! createBlock"							
								class="btn mt2">
								Создать полку
							</button>				
						</div>
					</div>
				</div>

				<div class="container-fluid">
					<div class="row">


						<div class="col-md-4" data-ng-show="createBlock">							 
							<div class="form-group">
								<input 
									type="number" 
									id="shelf-height"							
									min=1
									max={{maxHeight()}}									 
									data-ng-model="shelf.height">
									<label for="shelf-height">Высота</label>
								</div>
								<div class="form-group">
								<input 
									type="number" 
									id="shelf-position"
									value="{{shelf.x}}" 
									min=1 
									data-ng-model="shelf.x">
									<label for="shelf-position">Позиция</label>
								</div>
								<button type="button" 								
									class="btn" 
									data-ng-click="addShelf(shelf);shelf =! shelf;createBlock =! createBlock">
									Добавить полку
								</button>
							</div>
						
							<div class="col-md-4" data-ng-show="editBlock">
								<div class="form-group">
								<input 
									type="number" 
									id="shelf-height"
									value="{{heightShelf}}" 
									min=30 
									max={{maxHeight()}}
									data-ng-change="changePosition()"
									data-ng-model="heightShelf">
									<label for="shelf-height">Высота</label>
								</div>
								<div class="form-group">
								<input 
									type="number" 
									id="shelf-position"
									value="{{position}}" 
									min=1
									data-ng-change="changePosition()"
									data-ng-model="position">
									<label for="shelf-position">Позиция</label>
								</div>
								<button type="button" 								
									class="btn" 
									data-ng-click="removeShelf()">
									Удалить полку || {{maxHeight()}}
								</button>
							</div>
						</div>
					</div>
				</div>
			<!-- <div class="col-md-4" style="margin-top:50px"> -->
	<!-- 			<div class="form-group">
					<input 
						type="number" 
						id="rect-left"
						value="{{left}}" 
						min=0 
						max={{maxLeft-width}}
						data-ng-model="left" 
						data-ng-change="moveRect()">
					<label for="rect-left">Move left</label>
				</div>
				<div class="form-group">
					<input 
						type="number" 
						id="rect-top"
						value="{{top}}" 
						min=0 
						max={{maxTop}}
						data-ng-model="top" 
						data-ng-change="moveRect()"/>
					<label for="rect-top">Move Top</label>
				</div>
				<div class="form-group">
					<input 
						type="number" 
						id="rect-width"
						value="{{width}}" 
						min=0 						
						data-ng-model="width" 
						data-ng-change="moveRect()"/>
					<label for="rect-width">Width</label>
				</div>

				<div class="form-group">
					<input 
						type="number" 
						id="rect-height"
						value="{{height}}" 
						min=0 						
						data-ng-model="height" 
						data-ng-change="moveRect()">
					<label for="rect-height">Height</label>
				</div>
			</div>
			<div class="col-md-4" style="margin-top:50px">
				<div class="form-group">					
					<input 
						type="button" 
						class="btn" 
						value="Append SVG" 
						id="new-element"											 
						data-ng-click="newElement()">

					<button 
						type="button" 
						class="btn mt2" 
						data-ng-click="newImage()">
						Append IMG
					</button>

					<button 
						type="button" 
						class="btn mt2" 
						data-ng-click="animRect()">
						Anim Rect
					</button>		 -->

				
				</div>				
			</div>
		</div>
	</div>	